.hyper-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .hyper-dimmer-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .hyper-modal-content-wrapper {
    position: relative;
    background-color: #ffffff;
    width: 60%;
    height: 60%;
    z-index: 5;
    border-radius: 10px;

    &.fullscreen {
      width: 100%;
      height: 100%;
    }

    .hyper-close-icon-wrapper {
      position: absolute;
      display: block;
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
      transition: all 0.1s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

.body-noscroll {
  overflow: hidden;
  position: fixed;
}
